<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div id="upper-header">
            <h1>Boda Ideal</h1>
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" placeholder="Buscar">
            </div>
            <div class="right-icons">
                <i class="uil uil-shopping-cart"></i>
                <i class="uil uil-user-circle"></i>

            </div>
        </div>
        <nav id="lower-header">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="/templates/about-us.html">Sobre nosotros</a></li>
                <li><a href="/templates/boyfriend-products.html">Novios</a></li>
                <li><a href="/templates/girlfriend-products.html">Novias</a></li>
                <li><a href="/templates/wedding-products.html">Diseño de tu boda</a></li>
                <li><a href="/templates/gift-products.html">Regalos</a></li>
                <li><a href="/templates/contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container">
            <h2>¿Quienes somos?</h2>
            <div class="info-container">
            <article>
                
                <p>
                    BodaIdeal es un comercio nicaragüense que ofrece una amplia gama de productos y servicios de alta calidad, desde vestidos de novia hasta decoraciones y detalles. Nuestro equipo de expertos en bodas está aquí para hacer realidad tus sueños y asegurarnos de que tu boda sea única e inolvidable.
                </p>
            </article>
            <div class="info-image-div">
                <img class="about-us-image" src="../media/image/about.jpg" alt="Imagen de un novio y una novia">
            </div>
            </div>
        </section>
        <section class="container">
            <h2>Misión</h2>
            <div class="info-container">
            <article>
                
                <p>
                    BodaIdeal es un comercio nicaragüense que ofrece una amplia gama de productos y servicios de alta calidad, desde vestidos de novia hasta decoraciones y detalles. Nuestro equipo de expertos en bodas está aquí para hacer realidad tus sueños y asegurarnos de que tu boda sea única e inolvidable.
                </p>
            </article>
            <div class="info-image-div">
                <img class="about-us-image" src="../media/image/mision.jpeg" alt="Imagen de un novio y una novia">
            </div>
            </div>
        </section>
        <section class="container">
            <h2>Visión</h2>
            <div class="info-container">
                <article>
                    <p>
                        BodaIdeal es un comercio nicaragüense que ofrece una amplia gama de productos y servicios de alta calidad, desde vestidos de novia hasta decoraciones y detalles. Nuestro equipo de expertos en bodas está aquí para hacer realidad tus sueños y asegurarnos de que tu boda sea única e inolvidable.
                    </p>
                </article>
                <div class="info-image-div">
                    <img class="about-us-image" src="../media/image/vision.jpg" alt="Imagen de un novio y una novia">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div id="footer-col">
            <h3>Nuestra compañía</h3>
            <ul>
                <li><a href="/templates/about-us.html">Sobre Nosotros</a></li>
                <li><a href="/templates/contact.html">Contacto</a></li>
            </ul>
        </div>
        <div id="footer-col">
            <h3>Información</h3>
            <ul> 
                <li><i class="bi bi-geo-alt-fill"></i> Nuestra ubicación</li>
                <li><i class="bi bi-telephone-fill"></i> +505 6669 4200</li>
                <li><i class="bi bi-envelope"></i> bodaideal@gmail.com</li>
            </ul>
        </div>
        <div id="footer-col">
            <h3>Tienda</h3>
            <ul>
                <li><a href="/templates/wedding-products.html">Productos para tu boda</a></li>
                <li><a href="/templates/boyfriend-products.html">Productos para novio</a></li>
                <li><a href="/templates/girlfriend-products.html">Productos para novia</a></li>
                <li><a href="/templates/gift-products.html">Regalos</a></li>
            </ul>
        </div>
        
        <div id="footer-col">
            <h3>Síguenos en</h3>
            <div id="social-media">
                <a href="facebook.com"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/elonmusk"><i class="bi bi-twitter"></i></a>
                <a href="instagram.com"><i class="bi bi-instagram"></i></a>
                <a href="https://vm.tiktok.com/ZM28H5TAa/"><i class="bi bi-tiktok"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>