<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/product.css">
    <link rel="icon" type="image/x-icon" href="/media/image/image-ico.ico">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div id="upper-header">
            <h1>Boda Ideal</h1>
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" placeholder="Buscar">
            </div>
            <div class="right-icons">
                <i class="uil uil-shopping-cart"></i>
                <i class="uil uil-user-circle"></i>

            </div>
        </div>
        <nav id="lower-header">
            <ul>
                <a href="../index.html"><li>Inicio</li></a>
                <a href="/templates/about-us.html"><li>Sobre nosotros</a></li></a>
                <a href="/templates/boyfriend-products.html"><li>Novios</li></a>
                <a href="/templates/girlfriend-products.html"><li>Novias</li></a>
                <a href="/templates/wedding-products.html"><li>Diseño de tu boda</li></a>
                <a href="/templates/gift-products.html"><li>Regalos</li></a>
                <a href="/templates/contact.html"><li>Contacto</li></a>
            </ul>
        </nav>
    </header>
    <main id="product-main">
        <article id="product-information">
            <section id="image-area">
                <div class="main-image">
                    <img src="../media/image/trajeazul1.jpg" alt="Traje azul con cuello mao">
                </div>
                <div class="option flex">
                    <img style="opacity: 1;" src="../media/image/trajeazul1.jpg" alt="Traje azul con cuello mao">
                    <img style="opacity: 0.6;" src="../media/image/traje-2.jpeg" alt="Traje azul con cuello mao">
                    <img style="opacity: 0.6;" src="../media/image/traje-3.jpeg" alt="Traje azul con cuello mao">
                </div>
            </section> 
            <section id="info-area">
                <h3>Traje azul para novio, con cuello mao</h3>
                <h4><small>$</small> 250</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sint, vero quisquam vitae perspiciatis enim iusto eligendi nihil dolores illum blanditiis commodi doloremque vel voluptate debitis autem, quos molestiae? Minus!
                </p>
                <div id="product-data-divider">
                    <div class="size-divider">
                        <label for="">Talla: </label>
                        <select name="select" size="1">
                            <option value="value1">M</option>
                            <option value="value2" selected>L</option>
                            <option value="value3">XL</option>
                        </select>
                        <label for="">Cantidad: </label>
                        <span>
                            <button class="quantity-button">+</button>
                            <input type="number" value="1" min="1" max="100">
                            <button class="quantity-button">-</button>
                        </span>
                    </div>
                    <div class="quantity-div">
                        <button class="cart-button">Agregar al carrito</button>
                    </div>
                    
                </div>
            </section>
        </article>
        <article class="clients-article">
            <section id="clients-opinions-section">
                <h3>Opiniones de clientes</h3>
                
                <div class="barras">
                    <p><b>100 calificaciones</b></p>
                    <div class="bar-div">
                        <span><b>5 estrellas</b></span>
                        <div class="barra"><div class="barra-color" style="width: 70%;"></div></div>
                        <span class="span-2"><b>70</b></span>
                    </div>
                    <div class="bar-div">
                        <span><b>4 estrellas</b></span>
                        <div class="barra"><div class="barra-color" style="width: 18%;"></div></div>
                        <span class="span-2"><b>18</b></span>
                    </div>
                    <div class="bar-div">
                        <span><b>3 estrellas</b></span>
                        <div class="barra"><div class="barra-color" style="width: 4%;"></div></div>
                        <span class="span-2"><b>4</b></span>
                    </div>
                    <div class="bar-div">
                        <span><b>2 estrellas</b></span>
                        <div class="barra"><div class="barra-color" style="width: 4%;"></div></div>
                        <span class="span-2"><b>4</b></span>
                    </div>
                    <div class="bar-div">
                        <span><b>1 estrellas</b></span>
                        <div class="barra"><div class="barra-color" style="width: 4%;"></div></div>
                        <span class="span-2"><b>4</b></span>
                    </div>
                </div>
            </section>
            <section id="comment-section">
                <div class="add-comment">
                    <h3>Agregar un comentario</h3>
                    <p><a class="a-possible" href="../templates/login.html">Regístrese para poder comentar</a></p>
                    <form action="">
                        <textarea name="" id="" cols="30" rows="10">

                        </textarea>
                        <button>Enviar comentario</button>
                    </form>
                    
                </div>
                <div class="comments">
                    <h3>Comentarios (50)</h3>
                    <div class="comments-list">
                        <div class="comment">
                            <b>Donpollo2982: </b>
                            <p>Una reseña más mi gente para perder el tiempo, nos fuimos.</p>
                        </div>
                        <div class="comment">
                            <b>JovenesHoy777: </b>
                            <p>Excelente producto para casarse con bendición vea.</p>
                        </div>
                        <div class="comment">
                            <b>Andycruz69: </b>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ducimus voluptate perferendis explicabo nulla, repellat velit maiores rem ipsam eaque illum sunt quo aspernatur?</p>
                        </div>
                    </div>
                    <div class="comments-button-divider">
                        <button>Ver más</button>
                    </div>
                    
                </div>
            </section>

        </article>
        
    </main>
    <footer>
        <div id="footer-col">
            <h3>Nuestra compañía</h3>
            <ul>
                <li><a href="/templates/about-us.html">Sobre Nosotros</a></li>
                <li><a href="/templates/contact.html">Contacto</a></li>
            </ul>
        </div>
        <div id="footer-col">
            <h3>Información</h3>
            <ul> 
                <li><i class="bi bi-geo-alt-fill"></i> Nuestra ubicación</li>
                <li><i class="bi bi-telephone-fill"></i> +505 6669 4200</li>
                <li><i class="bi bi-envelope"></i> bodaideal@gmail.com</li>
            </ul>
        </div>
        <div id="footer-col">
            <h3>Tienda</h3>
            <ul>
                <li><a href="/templates/wedding-products.html">Productos para tu boda</a></li>
                <li><a href="/templates/boyfriend-products.html">Productos para novio</a></li>
                <li><a href="/templates/girlfriend-products.html">Productos para novia</a></li>
                <li><a href="/templates/gift-products.html">Regalos</a></li>
            </ul>
        </div>
        
        <div id="footer-col">
            <h3>Síguenos en</h3>
            <div id="social-media">
                <a href="facebook.com"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/elonmusk"><i class="bi bi-twitter"></i></a>
                <a href="instagram.com"><i class="bi bi-instagram"></i></a>
                <a href="https://vm.tiktok.com/ZM28H5TAa/"><i class="bi bi-tiktok"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>