<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/purchase.css">
    <link rel="icon" type="image/x-icon" href="/media/image/image-ico.ico">
    <title>Finalizar compra</title>
</head>
<body>
    <header>
        <div id="upper-header">
            <h1>Boda Ideal</h1>
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" placeholder="Buscar">
            </div>
            <div class="right-icons">
                <i class="uil uil-shopping-cart"></i>
                <i class="uil uil-user-circle"></i>

            </div>
        </div>
        <nav id="lower-header">
            <ul>
                <a href=".../index.html"><li>Inicio</li></a>
                <a href="/templates/about-us.html"><li>Sobre nosotros</a></li></a>
                <a href="/templates/boyfriend-products.html"><li>Novios</li></a>
                <a href="/templates/girlfriend-products.html"><li>Novias</li></a>
                <a href="/templates/wedding-products.html"><li>Diseño de tu boda</li></a>
                <a href="/templates/gift-products.html"><li>Regalos</li></a>
                <a href="/templates/contact.html"><li>Contacto</li></a>
            </ul>
        </nav>
    </header>
    <main id="purchase-main">
        <h2>Finalizar compra</h2>
        <div id="purchase-divider">
            <section id="fill-data-user">
                <h3><u>Detalles de facturación</u></h3>
                <form action="purchase.html">
                    <div>
                        <label for="">Nombre completo *</label>
                        <input autocomplete="on" placeholder="Escriba su nombre..." autofocus type="text">
                    </div>
                    <div>
                        <label for="">No de cedula/pasaporte *</label>
                        <input autocomplete="on" placeholder="Ponga su cedula o pasaporte" type="text">
                    </div>
                    <div>
                        <label for="">Departamento</label>
                        <select name="select">
                            <option value="carazo">Carazo</option>
                            <option value="managua">Managua</option>
                            <option value="nueva-segovia" selected>Nueva Segovia</option>
                            <option value="masaya">Masaya</option>
                            
                        </select>
                    </div>
                    <div>
                        <label for="">Municipio</label>
                        <select name="select">
                            <option value="carazo">Carazo</option>
                            <option value="managua">Managua</option>
                            <option value="nueva-segovia" selected>Nueva Segovia</option>
                            <option value="masaya">Masaya</option>
                            
                        </select>
                    </div>
                    <div>
                        <label for="">Notas del pedido *</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </form>
                <h3>Información del pago</h3>
                <form>
                    <div>
                        <label for="">Número de tarjeta *</label>
                        <input autocomplete="on" placeholder="XXXX-XXXX-XXXX-XXXX" autofocus type="text">
                    </div>
                    <div>
                        <label for="">Fecha de expiración *</label>
                        <input autocomplete="on" placeholder="dd/mm/yyyy" type="text">
                    </div>
                    <div>
                        <label for="">CVV *</label>
                        <input autocomplete="on" placeholder="XXX" type="text">
                    </div>
                </form>
            </section>
            <section id="purchase-receipt-section">
                <h3>Su pedido</h3>
                <div id="purchase-receipt">
                    <h3><b><u>Productos</u></b></h3>
                    <hr>
                    <p><b>Traje x 2 </b><span>$ 500.00</span></p>
                    <p><b>Subtotal</b> <span>$ 500.00</span></p>
                    <p><b>Impuestos</b> <span>$ 75.00</span></p>
                    <p><b>Envío</b> $ <span>25.00</span></p>
                    <p><b>Total</b> $ <span>600.00</span></p>
                </div>

                <section id="purchase-button-section">
                    <button><b>Finalizar</b></button>
                    <button class="red-button"><b>Cancelar</b></button>
                </section>
                
            </section>
            
        </div>
        
    </main>
    <footer>
        <div id="footer-col">
            <h3>Nuestra compañía</h3>
            <ul>
                <li><a href="/templates/about-us.html">Sobre Nosotros</a></li>
                <li><a href="/templates/contact.html">Contacto</a></li>
            </ul>
        </div>
        <div id="footer-col">
            <h3>Información</h3>
            <ul> 
                <li><i class="bi bi-geo-alt-fill"></i> Nuestra ubicación</li>
                <li><i class="bi bi-telephone-fill"></i> +505 6669 4200</li>
                <li><i class="bi bi-envelope"></i> bodaideal@gmail.com</li>
            </ul>
        </div>
        <div id="footer-col">
            <h3>Tienda</h3>
            <ul>
                <li><a href="/templates/wedding-products.html">Productos para tu boda</a></li>
                <li><a href="/templates/boyfriend-products.html">Productos para novio</a></li>
                <li><a href="/templates/girlfriend-products.html">Productos para novia</a></li>
                <li><a href="/templates/gift-products.html">Regalos</a></li>
            </ul>
        </div>
        
        <div id="footer-col">
            <h3>Síguenos en</h3>
            <div id="social-media">
                <a href="facebook.com"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/elonmusk"><i class="bi bi-twitter"></i></a>
                <a href="instagram.com"><i class="bi bi-instagram"></i></a>
                <a href="https://vm.tiktok.com/ZM28H5TAa/"><i class="bi bi-tiktok"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>