<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="icon" type="image/x-icon" href="/media/image/image-ico.ico">
    <title>Iniciar sesión</title>
</head>
<body>
    <header>
        <h1>Boda Ideal</h1>
    </header>
    <main>
        <div class="form-container">
            <div class="banner">
                <h2>Iniciar sesión</h2>
            </div>
            <div class="data-form">
                <form action="">
                    <div>
                        <label for=""><b>Nombre de usuario</b></label>
                        <input autocomplete="on" placeholder="Escriba su nombre..." autofocus type="text">
                    </div>
                    <div>
                        <label for=""><b>Correo electrónico</b></label>
                        <input autocomplete="on" placeholder="Escriba su nombre..." autofocus type="text">
                    </div>
                    <div>
                        <label for=""><b>Contraseña</b></label>
                        <input autocomplete="on" placeholder="Escriba su nombre..." autofocus type="text">
                    </div>
                    <div>
                        <label for=""><b>Confirme su contraseña</b></label>
                        <input autocomplete="on" placeholder="Escriba su nombre..." autofocus type="text">
                    </div>
                    <div class="flex">
                        <p>¿Ya tienes cuenta?, <a href="">inicia sesión</a></p>
                        <button>Iniciar sesión</button>
                    </div>
                </form>
                
            </div>
        </div>
    </main>
</body>
</html>