@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');




* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: auto;
}

body {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
}

.form-container {
    border: 2px solid #000;
}

main {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header {
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-size:  3.5rem;
    font-family: 'Great Vibes';
    text-align: center;
}

.banner {
    width: 100%;
    padding: 3vh 0;
    background: linear-gradient(180deg, #FFAFCC 0%, #F3A9A9 100%);
    display: flex;
    justify-content: center;
}

.banner h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.form-container {
    margin: auto;
    width: 60%;
    background-color: #fff;
}

form label, p {
    font-size: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-form {
    display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

form {
    padding: 3vh 0;
}