@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

/*
Tags
*/

:root{
	--input-padding-x: 1.5rem;
	--input-padding-y: 0.75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.info-image-div, .info-container article{
    height: 85%;
    width: 40%;
    margin: auto;
}

.info-container article{
    width: 60%;
}

.info-container article{
    text-align: left;
}

.info-container article h2{
    margin-bottom: 20px;
}


.info-image-div img{
    margin-top: 10px;
    height: 50%;
    width: 80%;
    
}

.info-container {
    margin: auto;
    padding: 0 0 20px;
    height: 40%;
    width: 90%;
    display: flex;
}

.info-container:first-child {
    padding-top: 20px;
}

main {
    font-size: 24px;
}

html, body{
    overflow-y: scroll;
}



.container {
    height: fit-content;
    margin: 20px auto;
    text-align: center;
}

form input, select {
    width: 100%;
    height: 44px;
    border: 2px solid #070707;
    margin: auto;
    background-color: #FFF;
    font-size: 16px;
    padding: 8px;
    border-radius: 15px;
}

form div {
    margin: 25px auto;
    width: 100%;
}

form div:first-child {
    margin-top: 5px
}

form textarea {
    width: 100%;
    border: 2px solid #070707;
    margin: auto;
    background-color: #FFF;
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    height: 30%;
}

main {
    background-color: #FAFAFA;
}


form {
    text-align: left;
    margin: 0 auto;
    padding-bottom: 2em;
    width: 85%;
}

label {
    display: block;
    margin: 0.5rem 0;
}

#product-page article {
    display: flex;
    width: 100%;
}


#product-page article .left-side {
    width: 35vw;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#product-page article .left-side img {
    margin: auto;
    width: 350px;
    height: 466px;    
}

#product-page article .right-side{
    width: 65vw;
}

.container h2, main h2 {
    font-family: 'Great Vibes';
    font-size: 64px;
}

#category-container, #featured-container, #ubication-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#featured-container {
    padding-bottom: 1.5rem;
}

#ubication-container img {
    margin: 5vh 25px 4vh;
    height: 30vw;
    width: 35vw;
    object-fit: cover;
}

#category-container article {
    width: 23%;
    margin: 0 auto;
}

#category-container h3 {
    margin: auto;
    font-size: 36px;
    color: #070707;
    font-family: 'Great Vibes';
}

#category-container article img {
    width: 100%;
    height: 75%;
}

footer {
    width: 100%;
    background-color: #0A012E;
    color: #FFF;
    display: flex;
    padding: 20px 0;
}

#footer-col {
    margin: 20px auto;
}

#footer-col ul li{
    font-style: 400;
    color: #928F98;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
}

.stars {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.stars span {
    display: flex;
    justify-content: space-between;
}

.stars .bi-star-fill {
    color: #FAC300;
    margin: auto;
}

button {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: #373737 solid 2px;
    border-radius: 30px;
    color: #050505;
    background-color: #00CCBF;
    padding: 0.6em 1.8em;
}

.contact-button {
    float: right;
}

.product-card {
    margin: auto;
    border-radius: 2rem;
    width: 23vw;
}



.product-card img {
    width: 100%;
    height: 30%;
    border-radius: 45px 45px 0 0;
    
    object-fit: cover;
    overflow: hidden;
}



.product-card h3{
    font-size: 24px;
    margin: 5px 15px;
    margin: auto;
}

.product-card p {
    font-size: 20px;
    margin: 15px 15px;
}

#product-container .product-card {
    margin: 5px 10px;
}

main section {
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

h1 {
    font-family: 'Great Vibes';
    font-size: 48px;
    color: #B37B9B;
    padding-top: 8px;
    margin-left: 0.3em;
}

fieldset div {
    display: flex;
}

fieldset div input[type=checkbox] {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3.5rem;
    height: 1.2rem;
    width: 1.2rem;

}

fieldset div label {
    margin-left: 0.8rem;
    font-weight: 600;
    font-size: 24px;
}

form {
    height: fit-content;
}

.form-section {
    padding-bottom: 1.5rem;
}

aside {
    padding: 5vh 0.5vh;
    width: 30%;
    background: linear-gradient(172.62deg, #F3A9A9 0%, #FFAFCC 99.49%);
    text-align: left;
    color: #FFF;
}

#subcategory-divider {
    padding: 2vh 0;
    padding-bottom: 5vh;
}

#subcategory-divider legend, #price-range-divider h2{
    margin-left: 2rem;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

#product-catalogue-container {
    display: flex;
}

#catalogue-section {
    text-align: center;
    width: 70%;
}

#catalogue-section h2{
    margin-top: 1rem;
}


#catalogue {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#catalogue .product-card {
    text-align: center;
    width: 27%;
    height: 30%;
    margin: 2vh 3vh 3vh;
} 

#catalogue .product-card h3 {
    font-size: 20px;
}

#shopping-cart {
    min-height: fit-content;
    width: 100%;
    text-align: center;
}

#shopping-cart-container {
    margin: 0;
    height: 150vh;
    width: 100%;
}

#shopping-cart-container h2 {
    padding-top: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

header {
    width: 100%;
    height: 15%;
}

.center {
    padding: 1rem 0;
    text-align: center;
}
  
.pagination {
    display: inline-block;
}
  
.pagination a {

    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
  
.pagination a.active {
    background-color: #00CCBF;
    color: white;
    border: 1px solid #00CCBF;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

#upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    vertical-align: middle;
}

.right-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center; 
    padding: 0.6rem 1rem;
}

.right-icons i {
    padding: 0;
    margin: 0 5px;
    font-size: 2.2rem;
    top: 0;
    margin-right: 20px;
}

.search-bar {
    background-color: hsl(252, 30%, 95%);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #7D7D7D;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

header nav {
    width: 100%;
    height: 50%;
    background-color: #FFAFCC;
    margin: 0;
    padding: 0;
}

input[type="range"] {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 20rem;
    height: 4px;
}

#price-range {
    margin: -1rem 0.6em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
#social-media {
    margin-top: 15px;
    font-size: 32px;
}

#social-media i{
    margin: 0 5px;
}



a {
    text-decoration: none;
    color: currentColor;
}

nav ul {
    color: 070707;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

nav ul li {
    padding: 20px 15px;
}

nav ul li:hover {
    background-color: #F0A0C0;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

#video-container {
    height: 85%;
    width: 100%;
    padding-bottom: 35%;
    position: relative;
}

#video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

table {
    margin-top: 10vh;
    border-collapse: collapse;
    width: 100%;
}

td i {
    font-size: 32px;
    padding-right: 2vh;
}


tr {
    border-bottom: 2px solid #333;
}

td, th {
    padding: 2vh 0 1vh;
    vertical-align: middle;
}

.shopping-cart-image {
    width: 20vh;
    height: 25vh;
}

#shopping-cart-button-container {
    width: 100%;
    border-top: #070707 solid 1px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10vh 0; 
}

#shopping-cart-receipt {
    
    background-color: #FAFAFA;
    border-top: #070707 solid 2px;
    border-bottom: #070707 solid 2px;
    font-family: 'Merriweather', sans-serif;
    font-size: 24px;
    text-align: left;
    width: fit-content;
    padding: 2rem 1rem;
}

#shopping-cart-receipt p {
    
    margin: 3vh auto;
}

#purchase-main {
    text-align: center;
    display: block;
}

#fill-data-user {
    width: 60vw;
    text-align: left;
}

#fill-data-user h3 {
    margin-left: 4vw;
}


#purchase-divider {
    display: flex;
}

#purchase-receipt-section {
    display: flexbox;
    flex: wrap;
    
    height: fit-content;
    
    text-align: left;
    
}

#shopping-cart-receipt-div {
    display: flex;
    justify-content: flex-end;
}

#purchase-receipt {
    margin: 5vh auto;
    padding: 1rem 2rem;
    background-color: #FAFAFA;
    border: #070707 solid 2px;
    font-family: 'Merriweather', sans-serif;
    font-size: 24px;
    width: 35vw;
}

#purchase-receipt p {
    justify-content: space-between;
    text-align: left;
    margin: 2vh auto;
}

#purchase-receipt p span {
    float: right;
}

#purchase-button-section {
    display: flex;
    justify-content: space-around;
}

#purchase-main h2{
    padding-top: 1rem;
}

@media only screen and (max-width: 640px){
    /*
    .search-bar,  .search-bar input[type="search"], .search-bar .uil-search {
        width: 0;
        height: 0;
        opacity: 0;
        transition: none;
        -o-transition: none; 
        -webkit-transition: none;
        padding: 0;
        margin: 0;
    }

    #lower-header{
        width: 0;
        height: 0;
        
    }
    */
    #video-container {
        height: 40vh;
    }

    button {
        font-size: 14px;
        border-radius: 20px;
        padding: 0.3em 1.2em;
    }

    h1{
        font-size: 32px;
    }

    .container h2, main h2 {
        font-size: 36px;
    }

    .container p {
        font-size: 14px;
    }

    #featured-container {
        padding-bottom: 0;
    }

    #ubication-container img {
        height: 60vw;
        width: 70vw;
    }

    #ubication-container p {
        font-size: 14px;
    }
    
    .product-card h3{
        font-size: 12px;
        margin: auto 0.1em;
    }

    .product-card {
        margin: 0.5rem 0.5em;
        height: fit-content;
        width: 42vw;
    }

    #category-container article {
        height: 40vh;
        width: 40vw;
    }

    #category-container article h3 {
        font-size: 20px;
    }

    .product-card img {
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }
    .product-card p {
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }
}